<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ruby.css"/>
  </head>
  <body>
    <div id="main">
      <div id="content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </body>
</html>
