<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/slideshow.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/ruby.css" />
		<script type="text/javascript" src="/javascripts/jquery-1.4.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/slideshow.js"></script>
	</head>
	<body>
    <div id="keyControl"><input/></div>
		{{ content }}
	</body>
</html>
